
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";





@theme {
  --font-serif-display: 'Playfair Display', serif;
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-jost: 'Jost', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-jost);
    background-color: #f5f0e8;
    color: #1a1510;
  }
}

@layer components {
  .section-label {
    font-size: 0.7rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #a0522d;
  }
}




